@import "../../variables.scss";

@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 120px) {
    @content;
  }
}

.messages {
  background-color: $lightergold;
  padding: 10px;
  height: calc(100% - 160px);
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  position: relative;
  .btn {
    padding: 5px 40px;
    border-radius: 1.5em;
    background-color: $darkgold;
    color: $lightergold;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid $gold;
    cursor: pointer;
    transition: all 0.5s ease;
    outline: none;
    &:hover {
      background-color: #e2b41c;
    }
    @include tablet {
      padding: 5px 10px;
    }
  }
}
