@import "../../variables.scss";

.chat {
  flex: 2;

  .chatInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $gray;
    color: $lightergray;
    padding: 10px;
    height: 50px;

    .chatIcons {
      display: flex;
      gap: 10px;

      .icon {
        font-size: 30px;
        cursor: pointer;
        transition: all 0.5s ease;
        &:hover {
          transform: scale(1.1);
          color: white;
        }
      }
    }
  }
}
