:root{
--lightergold: #fff2b8;
--lightgold: #FDDC5C;
--gold: gold;
--darkgold: #c09816;

--lightergray: #dddddd;
--lightgray: #AFAFAF;
--gray: gray;
--darkgray: #5d5d5d;
--darkergray: #1B1B1B;
}

/* SASS variables */

/* $lightergold: #fff2b8;
$lightgold: #FDDC5C;
$gold: gold;
$darkgold: #c09816;

$lightergray: #dddddd;
$lightgray: #AFAFAF;
$gray: gray;
$darkgray: #5d5d5d;
$darkergray: #1B1B1B; */

/* Usage */

/* background-color: $darkGold */

